body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

input{
  border: none;
}

.header {
  height: 64px;
  background-color: #6f5499;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header > .sys-title{
  font-size: 18px;
  color: #fff;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button + button {
  margin-left: 8px;
}